.hello-title {
  color: darkgreen;
}

h1, h2 {
    color:#35727c;
}

a {
    color: #35727c;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
}

.error {
    color: red;
    font-weight: bold;
}
