<!DOCTYPE HTML>
<html lang="en">

<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    </head>
    <body>
        <h1>{{title}}</h1>
        <a href="/users">User List</a>
        {{>footer}}
    </body>
</html>
